body {
    background-color: rgb(188, 171, 181);
}

.container {
    margin-top: -65px;
}

.col-xs-4 {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}
a{
    white-space:nowrap;
}